* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: auto;
    padding-top: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.calendar-container {
    width: 30rem;
    height: 30rem;
    background-color: red;
}

.year {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: lightpink;
    text-align: center;
}

.month {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem;
    background-color: lightgreen;
}

.weekdays {
    width: 100%;
    display: flex;
    justify-content: flex;
    align-items: center;
    padding: 0.5rem 0rem;
    background-color: lightyellow;
}

.weekdays div {
    width: 4.28rem;
    display: flex;
    padding: 0.5rem 0;
    justify-content: center;
    align-items: center;
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 0;
    background-color: aqua;
}

.days div {
    font-size: 1.5rem;
    width: 4.28rem;
    display: flex;
    padding: 0.5rem 0;
    justify-content: center;
    align-items: center;
}

.today , .selected-date {
    background-color: lightgreen;
}

.add-event {
    width: 100%;
    padding-top: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.month div:hover {
    border: 0.1rem solid black;
    cursor: pointer;
}

.days div:hover:not(.today) {
    /* background-color: blue; */
    border: 0.1rem solid black;
    cursor: pointer;
}

.prev-date, .next-date {
    opacity: 0.5;
}

/* ////////////////////////////////////MENU CONTAINER SECTION///////////////////////////////////////////// */
.menu-container {
    /* flex-shrink: 1; */
}

.menu div {
    margin: 1rem 0;
    padding: .5rem 1rem;
    border: 2px solid black;
    border-radius: 2rem;
    text-align: center;
}

#button-today {
    margin-bottom: 4rem;
}

#button-add-event {
    margin-top: 4rem;
}

#button-add-event, #button-today {
    padding: .5rem 1rem;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
}

.menu div:hover {
    /* background-color: blue; */
    border: 0.1rem solid black;
    cursor: pointer;
}

#button-add-event , #button-today:hover {
    cursor: pointer;
}

#dialog-form {
    background-color: lightgray;
    position: absolute;
    height: auto;
    width: 30rem;
    z-index: 101;
    display: none;
}

textarea {
    resize: none;
}

.colorpick {
    border-radius: 50%;
    display: inline-block;
    /* outline: none; */
    width: 18px;
    height: 18px;
    margin: 3px;
    cursor: pointer;
    position: relative;
    /* background-color: #e8eaed; */
}

/* Google Material Icon */
@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v70/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
  }
  
  .material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

/* /////////////////////////////////RIGHT SIDE CONTAINER SECTION///////////////////////////////////////////// */

.full-date2 {
    font-size: 3rem;
    width: 100%;
}

.event-container {
    width: 30rem;
    height: 30rem;
    background-color: lightblue;
    flex-basis: 50%;
}

.event-tab {
    /* background-color: gray; */
    height: 26.25rem;
    display: none;
}

/* Day-table */

#day-tab {
    overflow: auto;
}

#day-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

#day-table td,th {
    border: 1px solid #ddd;
    padding: 0.25rem;
}

#day-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#day-table tr:hover {
    background-color: red;
}

#day-table td:nth-child(1) {
    width: 12%;
}

#day-table td:nth-child(2) {
    width: 12%;
}

#day-table td:nth-child(3) {
    width: 76%;
    text-align: left;
}

/* Week-table */
#week-tab {
    overflow: auto;
}

#week-table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #04AA6D;
}

#week-table {
    width: 100%;
    border-collapse: collapse;
}

#week-table tbody {
    height: 50px;
    background-color: white;
}

#week-table td,th {
    border: 1px solid #ddd;
    padding: 0.25rem;
}

#week-table td:nth-child(n) {
    text-align: center;
    width: 12.5%;
}

#week-table tr:nth-child(even) {
    /* background-color: #f2f2f2; */
}

#week-table tr:hover {
    /* background-color: red; */
}

/* Sample from Google */
.weekevent-box {
    top: 479px;
    height: 1.25rem;
    left: calc((100% - 0px) * 0 + 0px);
    width: calc((100% - 0px) * 1);
    z-index: 6;
    background-color: rgb(121, 134, 203);
    border-color: rgb(121, 134, 203);
}

.weekevent-box2 {
    top: 479px;
    height: 1.25rem;
    left: calc((100% - 0px) * 0.05 + 0px);
    width: calc((100% - 0px) * 1);
    z-index: 6;
    background-color: rgb(13, 238, 24);
    border-color: rgb(121, 134, 203);
}

.weekevent-box3 {
    top: 479px;
    height: 1.25rem;
    left: calc((100% - 0px) * 0 + 0px);
    width: calc((100% - 0px) * 0.5);
    z-index: 6;
    background-color: rgb(0, 38, 255);
    border-color: rgb(0, 0, 0);
}

.weekevent-box4 {
    top: 479px;
    height: 1.25rem;
    left: calc((100% - 0px) * 0 + 0px);
    width: calc((100% - 0px) * 1);
    z-index: 6;
    background-color: rgb(4, 0, 255);
    border-color: rgb(121, 134, 203);
}

/* Month-table */

#month-tab {
    overflow: auto;
}

#month-table {
    width: 100%;
    border-collapse: collapse;
}

#month-table td,th {
    border: 1px solid #ddd;
    padding: 0.25rem;
}

#month-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#month-table tr:hover {
    background-color: red;
}

#month-table td:nth-child(1) {
    width: 15%;
    text-align: center;
}

#month-table td:nth-child(2) {
    width: 63%;
    text-align: left;
}

#month-table td:nth-child(3) {
    width: 22%;
    text-align: center;
}

/* Year-tab */

#year-tab {
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-between;
    align-items: center;
}

.year-outer h3 {
    background-color: #04AA6D;
    text-align: center;
}

.year-outer {
    width: 33.33%;
    padding: 0 2px;
}

.year-inner {
    width: 100%;
    height: auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

.year-inner-days {
    margin: 4px 0;
    width: 30%;
    border: 1px solid black;
}

.year-inner-days #year-days {
    font-weight: bold;
}

.year-inner-days #dul-event {
    position: relative;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    border: 1px none black;
    display: initial;
    vertical-align: middle;
    top:-2.5px;
    left: 2px;
    padding: 0 3.5px;
}