* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: auto;
    padding-top: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.calendar-container {
    width: 30rem;
    height: 30rem;
    background-color: red;
}

.year {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: lightpink;
    text-align: center;
}

.month {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem;
    background-color: lightgreen;
}

.weekdays {
    width: 100%;
    display: flex;
    justify-content: flex;
    align-items: center;
    padding: 0.5rem 0rem;
    background-color: lightyellow;
}

.weekdays div {
    width: 4.28rem;
    display: flex;
    padding: 0.5rem 0;
    justify-content: center;
    align-items: center;
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 0;
    background-color: aqua;
}

.days div {
    font-size: 1.5rem;
    width: 4.28rem;
    display: flex;
    padding: 0.5rem 0;
    justify-content: center;
    align-items: center;
}

.today , .selected-date {
    background-color: lightgreen;
}

.add-event {
    width: 100%;
    padding-top: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.month div:hover {
    border: 0.1rem solid black;
    cursor: pointer;
}

.days div:hover:not(.today) {
    /* background-color: blue; */
    border: 0.1rem solid black;
    cursor: pointer;
}

.prev-date, .next-date {
    opacity: 0.5;
}

/* ////////////////////////////////////MENU CONTAINER SECTION///////////////////////////////////////////// */
.menu-container {

}

.menu div {
    margin: 1rem 0;
    padding: .5rem 1rem;
    border: 2px solid black;
    border-radius: 2rem;
    text-align: center;
}

#button-today {
    margin-bottom: 4rem;
}

#button-add-event {
    margin-top: 4rem;
}

#button-add-event, #button-today {
    padding: .5rem 1rem;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
}

.menu div:hover {
    /* background-color: blue; */
    border: 0.1rem solid black;
    cursor: pointer;
}

#button-add-event , #button-today:hover {
    cursor: pointer;
}

/* /////////////////////////////////RIGHT SIDE CONTAINER SECTION///////////////////////////////////////////// */

.full-date2 {
    font-size: 3rem;
    width: 100%;
}

.event-container {
    width: 30rem;
    height: 30rem;
    background-color: lightblue;
}

.event-tab {
    /* background-color: gray; */
    height: 26.25rem;
    display: none;
}

/* Day-table */

#day-tab {
    overflow: auto;
}

#day-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

#day-table td,th {
    border: 1px solid #ddd;
    padding: 0.25rem;
}

#day-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#day-table tr:hover {
    background-color: red;
}

#day-table td:nth-child(1) {
    width: 12%;
}

#day-table td:nth-child(2) {
    width: 12%;
}

#day-table td:nth-child(3) {
    width: 76%;
    text-align: left;
}

/* Week-table */
#week-tab {
    overflow: auto;
}

#week-table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

#week-table {
    width: 100%;
    border-collapse: collapse;
}

#week-table tbody {
    height: 50px;
}

#week-table td,th {
    border: 1px solid #ddd;
    padding: 0.25rem;
}

#week-table td:nth-child(1) {
    text-align: center;
}

#week-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#week-table tr:hover {
    background-color: red;
}

/* Month-table */

#month-tab {
    overflow: auto;
}

#month-table {
    width: 100%;
    border-collapse: collapse;
}

#month-table td,th {
    border: 1px solid #ddd;
    padding: 0.25rem;
}

#month-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#month-table tr:hover {
    background-color: red;
}

#month-table td:nth-child(1) {
    width: 15%;
    text-align: center;
}

#month-table td:nth-child(2) {
    width: 63%;
    text-align: left;
}

#month-table td:nth-child(3) {
    width: 22%;
    text-align: center;
}

/* Year-tab */

#year-tab {
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-between;
    align-items: center;
}

.year-outer p {
    text-align: center;
}

.year-outer {
    width: 33.33%;
    padding: 0 2px;
}

.year-inner {
    width: 100%;
    height: auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

.year-inner-days {
    margin: 4px 0;
    width: 30%;
    border: 1px solid black;
}